/* ------------------------ Orden de reglas de estilo ----------------------- /

* Fuentes: 
- Font family - Font size - Font style - Font weight - Color - Text decoration - Text align - Line height
* Backgrounds: 
- Background - Background color - Opacity Background repeat - Background position 
* Box model : 
- Padding - Border sizing - Border - Border radius - Box shadow - Margin - Width - Height 
- Position - top - right - left - bottom
* Flex box
- Display flex - Direction - Justify - Align - Wrap
* Transiciones y animaciones
/* -------------------------------------------------------------------------- */
/* -------------------------------- Variables ------------------------------- */
:root {
  --fontFamily1: "Raleway", sans-serif;
  --fontFamily2: "Style Script", cursive;
  --fontColorLight: white;
  --fontColorMedium: #afafaf;
  --fontColorDark: #6c3cc2;
  --bgColorLight: white;
  --bgColorMediumLight: #e9e9e9;
  --bgColorDark: rgba(107, 60, 194, 0.637);
  --lineColorLight: white;
  --lineColorMediumDark: #838383;
  --lineColorDark: #6c3cc2;
  --temaOscuroFont: white;
  --temaOscuroBg: #1a0859;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: var(--fontFamily1);
  font-size: 1rem;
  background-color: var(--bgColorLight);
}
.contenedor {
  margin: auto;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}
/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
header {
  background: url(../img/background.png) var(--bgColorDark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}
/* --------------------------- Menú de navegación --------------------------- */
header .menu {
  text-align: right;
  margin: 40px 0;
}
header .menu a {
  color: var(--fontColorLight);
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  margin: 0 30px;
  margin-top: 0px;
  display: inline-block;
}
.menu a {
  text-decoration: none;
  transition-duration: 0.75s;
}
header .menu a:hover {
  border-bottom: 2px solid var(--lineColorLight);
  transform: scale(1.05);
}
button.theme {
  color: var(--fontColorLight);
  background: none;
  padding-bottom: 0px;
  border: none;
  margin-top: 0px;
  width: 80px;
}
button.theme:hover::after {
  content: "Cambiar tema";
  font-size: 8px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
}
button.hidden {
  display: none;
}
/* -------------------------------- Branding -------------------------------- */
header .contenedor-texto {
  margin: 190px;
  display: flex;
  justify-content: center;
  align-content: center;
}
header .contenedor-texto .texto {
  text-align: center;
  padding: 20px 60px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: inline-block;
}
.profesiones {
  margin: 0 40px;
  width: 80%;
  display: flex;
  justify-content: center;
}
header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2,
span.profesion {
  font-weight: 300;
  color: var(--fontColorLight);
  margin: 5px;
}
header .contenedor-texto .texto .nombre#nombre {
  font-family: var(--fontFamily2);
  font-size: 50px;
  line-height: 35px;
  margin-bottom: 10px;
}
header .contenedor-texto .texto .profesion {
  font-size: 20px;
  line-height: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------- Acerca de ------------------------------- */
section.acerca-de {
  text-align: center;
}
section.acerca-de .foto {
  margin-top: -100px;
}
main div.contenedor {
  overflow: visible; /* mostramos lo que excede para que se pueda ver la foto de perfil por encima del header */
}
section.acerca-de .foto img {
  border-radius: 100px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  vertical-align: top;
}
section.acerca-de .texto {
  color: var(--fontColorDark);
  line-height: 30px;
  margin: 40px auto 60px auto;
  width: 80%;
}
section.acerca-de .titulo {
  font-size: 34px;
  font-weight: 600;
  color: var(--fontColorDark);
  text-align: center;
  line-height: 34px;
  margin-bottom: 40px;
}
section.acerca-de .texto .bold {
  font-weight: 600;
  color: var(--fontColorDark);
}
/* -------------------------------- Trabajos -------------------------------- */
section.trabajos {
  background-color: var(--bgColorMediumLight);
  width: 100%;
}
div.cambiarTema {
  padding: 30px 0;
}
.trabajos .contenedor {
  overflow: hidden;
}
.trabajos .titulo {
  font-size: 34px;
  font-weight: 600;
  color: var(--fontColorMediumDark);
  text-align: center;
  line-height: 34px;
  margin-bottom: 40px;
}
section.trabajos .contenedor-trabajos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.trabajos .contenedor-trabajos .trabajo {
  margin: 40px;
  width: 15%;
}
.trabajos .contenedor-trabajos .trabajo .img-trabajo {
  border-radius: 5px;
  margin: 20px;
  width: 100%;
  vertical-align: top;
  transition-duration: 1s;
}
.img-trabajo:hover {
  box-shadow: 0px 0px 10px 2.5px rgba(107, 60, 194, 0.1);
  transform: scale(1.1);
}
.trabajos .contenedor-trabajos .trabajo .descripcion {
  text-align: center;
}
.trabajos .contenedor-trabajos .trabajo p.nombre {
  font-weight: 700;
  color: var(--fontColorDark);
  margin-bottom: 10px;
}
.trabajos .contenedor-trabajos .trabajo p.categoria {
  font-size: 14px;
  color: var(--fontColorDark);
}
a.enlace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
p span {
  font-weight: 700;
}
/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------- Contacto -------------------------------- */
footer .contacto {
  padding: 60px;
}
footer .contacto .titulo {
  font-size: 34px;
  font-weight: 600;
  color: var(--fontColorDark);
  text-align: center;
  line-height: 34px;
  margin-bottom: 40px;
}
/* ------------------------------- Formulario ------------------------------- */
footer .contacto .formulario {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
  font-size: 20px;
  color: var(--fontColorMediumDark);
  padding: 15px 20px;
  border: 2px solid var(--lineColorMediumDark);
  border-radius: 5px;
  margin-bottom: 15px;
}
footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
  width: 49%;
}
footer .contacto .formulario textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 300px;
}
footer .contacto .formulario .boton {
  color: var(--fontColorLight);
  background-color: var(--bgColorDark);
  opacity: 85%;
  padding: 15px 40px;
  border: none;
  border-radius: 3px;
  margin: auto;
  cursor: pointer;
}
.boton:hover {
  transition-duration: 0.75s;
}
footer .contacto .formulario .boton:hover {
  opacity: 100%;
  transform: scale(1.05);
}
footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
  border: 3px solid var(--lineColorDark);
}
/* ---------------------------------- Email --------------------------------- */
a.enlace,
a.wp {
  font-weight: 400;
  color: var(--fontColorMedium);
  text-decoration: none;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}
.enlace:hover,
.wp:hover {
  color: var(--fontColorDark);
  transform: scale(1.05);
}
/* ----------------------------- Redes Sociales ----------------------------- */
footer .redes-sociales {
  background-color: var(--bgColorDark);
  padding: 60px 0;
}
.contenedor-redes {
  display: flex;
  justify-content: center;
}
footer .redes-sociales a {
  font-size: 30px;
  color: var(--fontColorDark);
  text-align: center;
  background-color: var(--bgColorLight);
  padding: 15px 0;
  border-radius: 3px;
  margin: 20px;
  width: 100px;
  display: block;
  transition-duration: 0.75s;
}
footer .redes-sociales a:hover {
  color: var(--fontColorLight);
  transform: scale(1.1);
}
.github:hover {
  background-color: #333;
}
.linkedin:hover {
  background-color: #0077b5;
}
.instagram:hover {
  background-color: #e1306c;
}
.youtube:hover {
  background-color: #ff0000;
}
/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */
/* ------------------------------ Media Queries ----------------------------- */

@media screen and (max-width: 800px) {
  header .contenedor-texto .texto .nombre#nombre{
    line-height: 55px;
  }
  header .contenedor-texto {
    margin: 0;
    margin-bottom: 150px;
  }
  header nav.menu {
    padding: 20px;
    margin: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  header .contenedor-texto .texto .profesion{
    font-weight: 400;
    font-size:0.75rem;
  }
  div.cambiarTema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trabajos .contenedor-trabajos .trabajo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trabajos .contenedor-trabajos .trabajo img.img-trabajo {
    padding: 0px;
    margin: 0px;
  }
  div.contenedor {
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a.enlace,
  .wp {
    width: 100%;
    margin: 0px;
    padding: 5px;
    inline-size: 200px;
    overflow-wrap: break-word;
  }
  header .menu a:hover {
    border: none;
    transform: scale(1);
  }
  .img-trabajo:hover {
    box-shadow: 0px 0px 0px 0px rgba(107, 60, 194, 0.1);
    transform: scale(1);
  }
  .enlace:hover,
  .wp:hover {
    color: var(--fontColorMedium);
    transform: scale(1);
  }
  footer .redes-sociales a:hover {
    color: var(--fontColorDark);
    transform: scale(1);
  }
  .github:hover {
    background-color: var(--bgColorLight);
  }
  .linkedin:hover {
    background-color: var(--bgColorLight);
  }
  .instagram:hover {
    background-color: var(--bgColorLight);
  }
  .youtube:hover {
    background-color: var(--bgColorLight);
  }
  .contenedor-texto div.texto {
    border: none;
    padding: 0px;
    inline-size: 180px;
    overflow-wrap: break-word;
  }
  div.profesiones {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  header .contenedor-texto .texto .nombre {
    font-size: 20px;
  }
  header .contenedor-texto .texto .profesiones {
    font-size: 5px;
  }
  footer div.contenedor-redes {
    flex-wrap: wrap;
  }
}
/* -------------------------------------------------------------------------- */
/*                                 Tema Oscuro                                */
/* -------------------------------------------------------------------------- */
#tema-oscuro {
  color: var(--fontColorLight);
  background-color: var(--temaOscuroBg);
}
