@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

/* -------------------------------------------------------------------------- */
/*                           Definición de variables                          */
/* -------------------------------------------------------------------------- */

:root {
  --lightColor: #fff8fb;
  --basicColor: #e8b5ce;
  --darkColor: #913b2c;
  --textFont1: 'Twinkle Star', cursive;;
  --textFont2: 'Patrick Hand', monospace;
  --textFont3: 'Patrick Hand SC', monospace;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* -------------------------------- Tarjetas -------------------------------- */
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tarjeta{
  background-image: linear-gradient(45deg, rgb(255, 206, 214), rgb(238, 194, 255));
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: var(--textFont2);
  font-size: 1.25rem;
  width: 30rem;
  height: fit-content;
  margin: 1rem;
  padding: 3rem;
}
h2,h3, .titulo{
  font-family: var(--textFont1);
  font-size: 1.75rem;
  font-weight: bold;
}
p{
  margin: 1.5rem;
}
a{
  text-decoration: none;
  color: black;
}
ul {
  list-style-image: url("../img/check_black_24dp.svg");
}

.bienvenida{
  font-family: var(--textFont1);
  font-size: 1.5rem;
  text-align: center;
  word-wrap: break-word;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------------------- juego de la oca ---------------------------- */
.container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "bienvenida tablero";
  width:90vw;
  height: 90vh;
}

.bienvenida {
  grid-area: bienvenida;
}

/* Ver si es necesario acomodar tablero (seguro que sí) */

.tablero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "espacioblanco vacia24 oca23 vacia22 vacia21 vacia20 posada19 oca18 vacia17 vacia16"
    "espacioblanco vacia25 vacia46 oca45 vacia44 vacia43 laberinto42 vacia41 vacia40 vacia15"
    "espacioblanco dados26 vacia47 vacia60 oca59 calavera58 vacia57 vacia56 vacia39 oca14"
    "espacioblanco oca27 vacia48 vacia61 vacia62 jardin63 jardin63 vacia55 vacia38 vacia13"
    "espacioblanco vacia28 vacia49 oca50 vacia51 carcel52 dados53 oca54 vacia37 puente12"
    "espacioblanco vacia29 vacia30 pozo31 oca32 vacia33 vacia34 vacia35 oca36 vacia11"
    "oca1 vacia2 vacia3 vacia4 oca5 puente6 vacia7 vacia8 oca9 vacia10";
  grid-area: tablero;
}
.oca{
  background-color: pink;
}
.vacia{
  background-color: grey;
}
.puente{
  background-color: green;
}
.pozo, .laberinto, .carcel{
  background-color: red;
}
.dados{
  background-color: green;
}
.posada{
  background-color: aqua;
}
.jardin{
  background-color: aquamarine;
}
.calavera{
  background-color: black;
}
.oca1 {
  grid-area: oca1;
}

.oca5 {
  grid-area: oca5;
}

.oca9 {
  grid-area: oca9;
}

.oca14 {
  grid-area: oca14;
}

.oca18 {
  grid-area: oca18;
}

.oca23 {
  grid-area: oca23;
}

.oca27 {
  grid-area: oca27;
}

.oca32 {
  grid-area: oca32;
}

.oca36 {
  grid-area: oca36;
}

.oca45 {
  grid-area: oca45;
}

.oca50 {
  grid-area: oca50;
}

.oca54 {
  grid-area: oca54;
}

.oca59 {
  grid-area: oca59;
}

.puente6 {
  grid-area: puente6;
}

.puente12 {
  grid-area: puente12;
}

.posada19 {
  grid-area: posada19;
}

.pozo31 {
  grid-area: pozo31;
}

.dados26 {
  grid-area: dados26;
}

.dados53 {
  grid-area: dados53;
}

.laberinto42 {
  grid-area: laberinto42;
}

.carcel52 {
  grid-area: carcel52;
}

.vacia2 {
  grid-area: vacia2;
}

.vacia3 {
  grid-area: vacia3;
}

.vacia4 {
  grid-area: vacia4;
}

.vacia7 {
  grid-area: vacia7;
}

.vacia8 {
  grid-area: vacia8;
}

.vacia10 {
  grid-area: vacia10;
}

.vacia11 {
  grid-area: vacia11;
}

.vacia13 {
  grid-area: vacia13;
}

.vacia15 {
  grid-area: vacia15;
}

.vacia16 {
  grid-area: vacia16;
}

.vacia17 {
  grid-area: vacia17;
}

.vacia20 {
  grid-area: vacia20;
}

.vacia21 {
  grid-area: vacia21;
}

.vacia22 {
  grid-area: vacia22;
}

.vacia24 {
  grid-area: vacia24;
}

.vacia25 {
  grid-area: vacia25;
}

.vacia28 {
  grid-area: vacia28;
}

.vacia29 {
  grid-area: vacia29;
}

.vacia30 {
  grid-area: vacia30;
}

.vacia33 {
  grid-area: vacia33;
}

.vacia34 {
  grid-area: vacia34;
}

.vacia35 {
  grid-area: vacia35;
}

.vacia37 {
  grid-area: vacia37;
}

.vacia38 {
  grid-area: vacia38;
}

.vacia39 {
  grid-area: vacia39;
}

.vacia40 {
  grid-area: vacia40;
}

.vacia41 {
  grid-area: vacia41;
}

.vacia43 {
  grid-area: vacia43;
}

.vacia44 {
  grid-area: vacia44;
}

.vacia46 {
  grid-area: vacia46;
}

.vacia47 {
  grid-area: vacia47;
}

.vacia48 {
  grid-area: vacia48;
}

.vacia49 {
  grid-area: vacia49;
}

.vacia51 {
  grid-area: vacia51;
}

.vacia55 {
  grid-area: vacia55;
}

.vacia56 {
  grid-area: vacia56;
}

.vacia57 {
  grid-area: vacia57;
}

.calavera58 {
  grid-area: calavera58;
}

.vacia60 {
  grid-area: vacia60;
}

.vacia61 {
  grid-area: vacia61;
}

.vacia62 {
  grid-area: vacia62;
}

.jardin63 {
  grid-area: jardin63;
}

.espacioblanco {
  grid-area: espacioblanco;
}

